In [2]:
import pandas as pd

In [18]:
x = pd.read_csv("Inflation.csv", header=0)

In [20]:
x.count

<bound method DataFrame.count of    Year  Inflation Rate (%)
0  2015                 1.2
1  2016                 1.5
2  2017                 2.1
3  2018                 2.4
4  2019                 1.8
5  2020                 1.2
6  2021                 3.0
7  2022                 4.5
8  2023                 6.2
9  2024                 5.8>

In [12]:
x.describe()

             Year  Inflation Rate (%)
count    10.00000           10.000000
mean   2019.50000            2.970000
std       3.02765            1.875604
min    2015.00000            1.200000
25%    2017.25000            1.575000
50%    2019.50000            2.250000
75%    2021.75000            4.125000
max    2024.00000            6.200000

In [13]:
x.mean()

Year                  2019.50
Inflation Rate (%)       2.97
dtype: float64

In [14]:
x.min()

Year                  2015.0
Inflation Rate (%)       1.2
dtype: float64

In [16]:
x["Year"] = x["Year"].astype(int)

Year                  2015.0
Inflation Rate (%)       1.2
dtype: float64