In [ ]:
# source code on myrepo https://github.com/AlieeLinux/data-science-topics

In [22]:
import pandas as pd

In [23]:
DataFrame = pd.read_csv("Rooms.csv")

In [24]:
DataFrame.describe()

,Size(m2),Land(m2),Rooms,Granite,Extra Bathroom,Price
count,7.000000,7.00000,7.000000,7.000000,7.000000,7.000000e+00
mean,954.857143,3593.00000,5.000000,0.428571,0.714286,4.145743e+08
std,199.590772,1219.30554,0.816497,0.534522,0.487950,9.884083e+07
min,671.000000,2801.00000,4.000000,0.000000,0.000000,3.121000e+08
25%,820.000000,2890.00000,4.500000,0.000000,0.500000,3.539500e+08
50%,990.000000,3067.00000,5.000000,0.000000,1.000000,3.871200e+08
75%,1077.000000,3704.50000,5.500000,1.000000,1.000000,4.459500e+08
max,1229.000000,6094.00000,6.000000,1.000000,1.000000,6.030000e+08

In [30]:
# Lets Calculate Manually

In [31]:
DataFrame.count()

Size(m2)          7
Land(m2)          7
Rooms             7
Granite           7
Extra Bathroom    7
Price             7
dtype: int64

In [32]:
DataFrame.quantile(0.25)

Size(m2)                820.0
Land(m2)               2890.0
Rooms                     4.5
Granite                   0.0
Extra Bathroom            0.5
Price             353950000.0
Name: 0.25, dtype: float64

In [33]:
DataFrame.quantile(0.5)

Size(m2)                990.0
Land(m2)               3067.0
Rooms                     5.0
Granite                   0.0
Extra Bathroom            1.0
Price             387120000.0
Name: 0.5, dtype: float64

In [34]:
DataFrame.quantile(0.75)

Size(m2)               1077.0
Land(m2)               3704.5
Rooms                     5.5
Granite                   1.0
Extra Bathroom            1.0
Price             445950000.0
Name: 0.75, dtype: float64

In [35]:
DataFrame.std()

Size(m2)          1.995908e+02
Land(m2)          1.219306e+03
Rooms             8.164966e-01
Granite           5.345225e-01
Extra Bathroom    4.879500e-01
Price             9.884083e+07
dtype: float64

In [36]:
DataFrame.max()

Size(m2)               1229
Land(m2)               6094
Rooms                     6
Granite                   1
Extra Bathroom            1
Price             603000000
dtype: int64

In [37]:
DataFrame.min()

Size(m2)                671
Land(m2)               2801
Rooms                     4
Granite                   0
Extra Bathroom            0
Price             312100000
dtype: int64

In [38]:
DataFrame.mean()

Size(m2)          9.548571e+02
Land(m2)          3.593000e+03
Rooms             5.000000e+00
Granite           4.285714e-01
Extra Bathroom    7.142857e-01
Price             4.145743e+08
dtype: float64

In [39]:
DataFrame.median()

Size(m2)                990.0
Land(m2)               3067.0
Rooms                     5.0
Granite                   0.0
Extra Bathroom            1.0
Price             387120000.0
dtype: float64

In [40]:
DataFrame.mode()

   Size(m2)  Land(m2)  Rooms  Granite  Extra Bathroom      Price
0       671      2801    5.0      0.0             1.0  312100000
1       731      2854    NaN      NaN             NaN  324500000
2       909      2926    NaN      NaN             NaN  383400000
3       990      3067    NaN      NaN             NaN  387120000
4      1076      3094    NaN      NaN             NaN  425900000
5      1078      4315    NaN      NaN             NaN  466000000
6      1229      6094    NaN      NaN             NaN  603000000