In [1]:
import pandas

In [2]:
DataF = pandas.read_csv("plays.csv")

In [3]:
DataF

              user_id    platform  asset_id  minutes_viewed
0        764504178919     android     13758              28
1        412316860611     android     13825              28
2       1503238553613         iOS        93             105
3        489626272003     android      6226               7
4         68719476744     android      3762               1
...               ...         ...       ...             ...
542152  1331439861936     android     14936               0
542153  1675037245707         iOS      7959               7
542154   489626272310     android       384              17
542155   618475290625  android-tv     15487               0
542156    42949673483         iOS     16857             108

[542157 rows x 4 columns]

In [4]:
DataF.shape

(542157, 4)

In [5]:
DataF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542157 entries, 0 to 542156
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         542157 non-null  int64
 1   platform        542157 non-null  object
 2   asset_id        542157 non-null  int64
 3   minutes_viewed  542157 non-null  int64
dtypes: int64(3), object(1)
memory usage: 16.5+ MB

In [6]:
DataF.isnull()

        user_id  platform  asset_id  minutes_viewed
0         False     False     False           False
1         False     False     False           False
2         False     False     False           False
3         False     False     False           False
4         False     False     False           False
...         ...       ...       ...             ...
542152    False     False     False           False
542153    False     False     False           False
542154    False     False     False           False
542155    False     False     False           False
542156    False     False     False           False

[542157 rows x 4 columns]

In [7]:
DataF.describe()

            user_id       asset_id  minutes_viewed
count  5.421570e+05  542157.000000   542157.000000
mean   8.558517e+11    9468.649867       34.057485
std    4.975313e+11    5131.634179       51.666177
min    1.000000e+00       1.000000        0.000000
25%    4.294967e+11    5267.000000        1.000000
50%    8.589935e+11    9383.000000       16.000000
75%    1.288490e+12   14370.000000       59.000000
max    1.709397e+12   17271.000000    18078.000000

In [ ]:
DataF.mean()

In [ ]:
DataF.median()

In [ ]:
DataF.mode()