In [1]:
import pandas

In [2]:
import numpy

In [3]:
DataFrame = pandas.read_csv("currencybroken.csv")

In [4]:
DataFrame

    Code Symbol                      Name
0    AED    د.إ    United Arab Emirates d
1    AFN      ؋            Afghan afghani
2    ALL      L              Albanian lek
3    AMD    NaN             Armenian dram
4    ANG      ƒ  Netherlands Antillean gu
..   ...    ...                       ...
158  XOF    CFA    West African CFA franc
159  XPF     Fr                 CFP franc
160  YER      ﷼               Yemeni rial
161  ZAR      R        South African rand
162  ZMW     ZK            Zambian kwacha

[163 rows x 3 columns]

In [8]:
sec = 0

In [ ]:
for i in DataFrame['Symbol']:
    sec += 1
    if i == "NaN":

In [11]:
DataFrame['Symbol'][162]

'ZK'