In [1]:
import pandas as plt

In [2]:
import numpy as pd

In [3]:
import matplotlib.pyplot as np

In [5]:
x = plt.read_csv("customers-100000.csv")

In [6]:
x.describe()

               Index
count  100000.000000
mean    50000.500000
std     28867.657797
min         1.000000
25%     25000.750000
50%     50000.500000
75%     75000.250000
max    100000.000000